
/NHibernate.Caches.AppFabric/bin
/NHibernate.Caches.AppFabric/obj
/NHibernate.Caches.AppFabric.Tests/bin
/NHibernate.Caches.AppFabric.Tests/obj
/packages
/NHibernate.Caches.AppFabric.suo
/NHibernate.Caches.AppFabric.suo
/NHibernate.Caches.AppFabric.Tests/bin
/NHibernate.Caches.AppFabric.Tests/obj
/NHibernate.Caches.AppFabric.Tests/bin
/NHibernate.Caches.AppFabric.Tests/obj